.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.res-card:hover {
  border: 2px solid gray;
  cursor: pointer;
}

.res-card {

  width: 200px;
  background-color: #f0f0f0;
  margin: 5px;
}
.search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-img {
  width: 100%;
}

.shimmer-cards {
  margin: 20px;
  width: 200px;
  height: 350px;
  background-color: gray;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.login {
  padding: 20px;
}

.filter {
  display: flex;
}
